fp-info-cache
MCU Datalogger-backups/*
MCUDataloggerGerber/*
~MCU Datalogger.kicad_sch.lck
~MCU Datalogger.kicad_pcb.lck
_autosave-MCU Datalogger.kicad_sch
MCU Datalogger.kicad_prl
MCU Datalogger.kicad_sch-bak
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
fp-lib-table