fp-info-cache
MCU Datalogger-backups/*
MCUDataloggerGerber/*
~MCU Datalogger.kicad_sch.lck
~MCU Datalogger.kicad_pcb.lck
_autosave-MCU Datalogger.kicad_sch
MCU Datalogger.kicad_prl
MCU Datalogger.kicad_sch-bak